@import "~bootstrap/scss/bootstrap";

.top-header {
  .left-block {
    flex: 1 1 20%;
    margin-left: -20px;
  }

  .right-block {
    flex: 1 1 80%;
  }

  .menu {
    justify-content: space-between;

    .menu-item {
      font-size: 24px;
      align-items: center;
      cursor: pointer;
      color: #212529;
    }
  }
}

.main-block {
  min-height: 550px;

  .block-item {

  }

  .login-block {
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .left-login {
      flex: 1 1 30%;
    }

    .right-login {
      flex: 1 1 70%;
    }

  }
}

.footer-line {
  height: 10px;
  background: #1f4fa1;
}

.fa-youtube {
  color: red;
}

.top-menu {
  color: #333;
  text-decoration: none;
}

#contact-us {
  background-color: #0176A3;

  .contact-sub-title {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }

  .right-text {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }

  .address-text {
    max-width: 350px;
  }

  .img-map {
    width: 100%;
  }

  .submit-btn {
    background-color: #C4C4C4;
    color: #333;
  }

  .svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

#comment{
  background-color: rgba(141, 198, 63, 0.7);
}

#events{
  background-color: rgba(158, 11, 15, 0.71);
}

#project{
  background-color: rgba(247, 148, 28, 0.6);
}
